body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    /* padding: 20px; */
    font-size: 15px;
    /* padding: 20px; */
    
}
.ShowListBTN{
    background-color: transparent;
    /* Set the background color to yellow */
    border: none;
color:  #6B1D5E;;
    cursor: pointer;
    padding: 0;
    /* Optional: Adjust padding as needed */
    margin: 0;
    /* Optional: Adjust margin as needed */
    /* Remove default button styles */
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container2{
    margin: 0 auto;
    background-color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.form-group {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* align-items: left;
    text-align: left;
    align-items: flex-start; */
    /* Adjust the margin as needed */
}

label{
    
    text-align: left;
    /* background-color: whitesmoke;
     */
    font-weight: lighter;
    padding: 5px;
    width:90% ;
    color: #6B1D5E;
    /* align-self: auto; */
    /* margin-bottom: 10px; */
}

input {
    flex: auto;
    width: 90%;
    align-self: auto;
    color: #6B1D5E;
    border-radius: 7px;
    
}
input:focus{
    background-color: white;
   
}

h1 {
    text-align: center;
}


p {
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: left;
}

.definitions {
    margin-top: 20px;
    text-align: left;

}

.definitions h2 {
    margin-bottom: 10px;
    text-align: left;
}

.definitions dl {
    margin-left: 20px;
    text-align: left;
}

.definitions dl dt {
    font-weight: bold;
    text-align: left;
}

.definitions dl dd {
    margin-bottom: 10px;
    text-align: left;
}

.section {
    margin-top: 20px;
    text-align: left;
}

.section h3 {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    

}

.section ol {
    margin-left: 20px;
    text-align: left;
}

.DocSection{
    color: #6B1D5E;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

.Allbuttons {
    background-color: yellow;
    /* Set the background color to yellow */
    border: none;


    cursor: pointer;
    padding: 0;
    /* Optional: Adjust padding as needed */
    margin: 0;
    /* Optional: Adjust margin as needed */
    /* Remove default button styles */
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.maincontainer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}